<div class="container">
  <nav class="menu">
    <div class="title">
      Bienenklasse
    </div>
    <a href="/auth/logout" class="menu-item logout">
      <i class="fa fa-power-off"></i>
    </a>
  </nav>
</div>
