$brand-primary: #b7472a;
$brand-secondary: #ffd5ab;
$brand-bg: #fff2e5;
$indigo: #8a2be2;
$white: #fff;
$dark: #444;

$body-bg: $brand-bg !default;
$body-color: $dark !default;

$primary: $indigo !default;

$font-family-sans-serif: 'Baloo Da 2';
